* {
    box-sizing: border-box;
}

.row {
    align-content: center;
}

body {
    margin: auto;
    align-content: center;

    background-color:#478559 !important;
}
p {
    margin: auto;
    margin-top: 15px;
    align-content: center;
}
.container {
    background-color: white
}
body > div.container > div.col-6.col-md-8.col-sm-10 > textarea{
    background-color: #343D46;
    color: white;
    width: 100%;/*645px;*/
    height: 80px;
}
#bch-github-img {
    margin:auto;
}



